#no-mobile {
    position: absolute;
    z-index: 20;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.8;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800;
    top: 0;
  }
  
  @media screen and (max-width: 630px) {
    #no-mobile {
      display: none;
    }
  }