.screen-header {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}
.screen-header__title {
    font-size: 25px;
    font-weight: 900;
    margin-left: 10px;
    color: balck;
}
.screen-header__icons a {
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
}
.screen-header__icons i {
    margin-left: 20px;
}
.screen-header__icons:last-child {
    position: relative;
    display: flex;
}
.screen-header__setting-alarm {
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    background-color: var(--main-pink);
    border-radius: 50%;
    top: -10px;
    right: -10px;
}