.main-chats a {
    text-decoration: none;
    display: flex;
    width: 100%;
}
a:hover {
    transition: 0.4s ease-in-out;
    transform: translateY(2px);
}
a h2 {
    text-decoration: none;
    color: black;
}