.channel {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.fa-angle-up {
    color: gray;
    opacity: 0.7;
}
.channel__title{
    font-size: 15px;
}
@keyframes SplashScreen {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
}
#splash-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    animation: SplashScreen 0.5s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 10;
  }
  #splash-screen img{
    width: 100%;
    object-fit: cover
}